	<progress id="progressbar" value="0" max="100"></progress>
	
	<div class="text-center" style="margin-bottom:275px;margin-top:40px;">
		<iframe class="animated slideInDown"  scrolling="no" style="border:none" src="/disco"></iframe>
		<h1 style="color:#2D4059;font-size:100px;font-family:'Nunito',sans-serif;" class="animated slideInDown">JSON Disco</h1>
		<div class="animated zoomIn" style="">powered by: <a href="//api.wunderground.com/weather/api"><img src="/wundergroundLogo_4c_horz.png" width="175"></a></div>
		<div style="margin-top:40px;"><a id="prance" href="#dance" style="color:#2D4059;font-size:30px;"><span class="glyphicon glyphicon-menu-down animated fadeInDown" id="flashElement" aria-hidden="true" ></span></a></div>
	</div>