		  <div class="panel-body">
				<p>I pregenerated the daily weather forecast for you. In order to get a better idea of what the data will look like for you, try using your own API_KEY_TOKEN so that its consistant with your code.</p>
				<p>Make sure to grab your API_KEY at *<a href="//api.wunderground.com/weather/api?apiref=6c095ac5ca613e0e">Weather Underground</a>.</p>
				<ul class="list-group">
					<li class="list-group-item">Today's weather data can be found below. I have broken up the "forecast10day" data into <code>three</code> different categories. The following correspond with the tabs in the next section.</li>
			  	<li class="list-group-item"><code>simpleforecast:</code> provides you with more numerical data useful when customizing weather messages.</li>
			  	<li class="list-group-item"><code>txt_forecast:</code> this give you a quick summary for for day and night.</li>
			  	<li class="list-group-item"><code>Daily:</code> from simpleforecast, this dropdown give you the option choose data for a specific day of the week.</li>
			  	<li class="list-group-item"><code>Day:</code> from txt_forecast, this dropdown helps you see the day time weather forecast.</li>
			  	<li class="list-group-item"><code>Night:</code> from txt_forecast, this dropdown helps you see the night time weather forecast.</li>
				</ul>
			</div>