<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculator</title>
  
  
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.0.2/css/hover-min.css'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:900,700|Lato:900,700'>

<link rel="stylesheet" href="/stylesheets/calculator.css">

  
</head>

<body>
  <body id="main-back" class="centered">
  <div class="container">
    <form id="calculator" name="calculator" role="form">
      <div class="container">
        <input class=" animated fadeInDown" placeholder="Calculator" id="input" name="ans" type="text">
        <input class="" id="clear">
      </div>
      <div id="numPad">
      <div class="container top-row">
        <input id="seven">
        <input id="eight">
        <input id="nine">
        <input id="divide">
      </div>
      <div class="container middle-row">
        <input id="four">
        <input id="five">
        <input id="six">
        <input id="times">
      </div>
      <div class="container middle-row">
        <input id="one">
        <input id="two">
        <input id="three">
        <input id="minus">
      </div>
      <div class="container bottom-row">
        <input id="zero">
        <input id="period" />
        <input id="equals">
        <input id="plus">
      </div>
      </div>
    </form>
  </div>
</body>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js'></script>

    <script src="javascripts/calculator.js"></script>

</body>
</html>
