#flashElement {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
}

progress {
    width:100%;
    position: fixed;
    z-index: 2;
    top:-8px;    
}

